<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <form action>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input class="form-control" type="text" id="nombre" />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" />
          </div>

          <div class="form-group">
            <label for="msj">Mensaje</label>
            <textarea class="form-control" name="msj" id="msj" cols="2" rows="2"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>