<template>
  <div id="app">
      <div class="container">
          <div class="row">
          <div class="col-md-4" v-for="prod in productos" :key="prod.id">
              <producto :producto="prod"></producto>
          </div>
      </div>
      </div>

  </div>
</template>

<script>
// @ is an alias to /src
import Producto from '../components/Producto.vue';
import productos from '../productos.json';


export default {
  name: 'app',
  components: {
    Producto
  },
  data(){
      return {
          productos
      }
  },
  methods: {
      fetch() {
          let result = axios.get("localhost:8081/products")
          .then((res) => {
              console.log(res.data);
          })
          .catch((err) => {
              console.log(err)
          })
      }
  }
}
</script>
